.card_contenedor {
    display: grid;
    place-content: center;
    margin: 1rem;
}

.card_detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 550px;
    border: thin solid gray;
    border-radius: 5px;
    box-shadow: 0 0 25px #00000025 inset;

}

.detalle__imagen {
    width: 250px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.info_deatil {
    padding: 1rem
}

.info_deatil-span {
    font-weight: 600;
}