.navbar_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.navbar_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    max-width: 960px;
}

.links {
    background: #f0f0f0;
    text-decoration: none;
    border: thin solid gray;
    color: black;
    font-size: small;
    padding: 0 5px;
    border-radius: 2px;
}

.links:hover {
    background: #d6d6d69d;
}